@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Limelight&family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
#logo {
  width: 15%;
  transition: 0.2s;
}
#logo:hover {
  width: 15.5%;
}

.navbar-nav {
  --bs-nav-link-color: #6c757d;
}
.navbar-nav .nav-link.active {
  color: #f8f9fa;
  text-decoration: line-through;
}
.navbar-nav .nav-link {
  transition: 0.2s;
}
.navbar-nav .nav-link:hover {
  font-size: 18px;
  color: #f8f9fa;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}

.navbar {
  background-color: transparent;
  font-weight: bolder;
  font-family: "Aboreto", system-ui;
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s;
}

header.sticky .navbar {
  background-color: #fff;
  width: 50%;
  padding: 0;
  top: 0;
  right: 25%;
  border-radius: 0 0 200px 200px;
  box-shadow: 0 0 5px 1px gray;
}
header.sticky #logo {
  display: none;
}
header.sticky .navbar-collapse {
  justify-content: center;
}
header.sticky .nav-link.active {
  color: #000000;
}
header.sticky .nav-link:hover {
  color: #000000;
}

.bodys {
  overflow-x: hidden;
}

#index {
  background-color: #29292a;
}

.spline {
  position: absolute;
  left: -1%;
  width: 101%;
  height: 100%;
  top: 0;
}

.secondSection {
  background: #0f0c29; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  height: 1100px;
  padding: 1%;
}

.containerSecondsection {
  position: relative;
  top: 10rem;
  margin-left: 3%;
}
.containerSecondsection h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: bolder;
  color: white;
}
.containerSecondsection h3 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  position: relative;
  text-align: center;
  margin-right: 3%;
  top: 95px;
}
.containerSecondsection p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 350;
  font-size: 25px;
  color: white;
  margin: 0 5% 0 5%;
  text-align: left;
}
.containerSecondsection #parrafo {
  content: "";
  height: 4px;
  width: 4%;
  position: relative;
  background: #007fa6;
  top: 20px;
}

.habilidadesContenedor {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  gap: 2%;
  flex-wrap: wrap;
}
.habilidadesContenedor .habilidades {
  background-color: rgba(66, 56, 129, 0.4);
  width: 250px;
  height: 200px;
  margin-top: 2%;
  border-radius: 16px;
}
.habilidadesContenedor .habilidades p {
  color: white;
  font-weight: 600;
  position: relative;
  text-align: center;
  bottom: 30px;
}
.habilidadesContenedor .fa-brands {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 45px 0;
  margin: 0;
  position: unset;
  font-size: 70px;
}
.habilidadesContenedor .fa-brands:hover {
  font-size: 70px;
}
.habilidadesContenedor .skillLogos {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 35%;
  padding: 45px 0;
  left: 80px;
  position: relative;
  margin: 0;
}

.custom-shape-divider-top-1707935947 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1707935947 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 178px;
}

.custom-shape-divider-top-1707935947 .shape-fill {
  fill: #000000;
}

.asideContainer {
  margin-top: 15%;
  margin-left: 1%;
  width: 48%;
}
.asideContainer .asideContenido {
  text-align: justify;
  width: 135%;
}
.asideContainer .asideContenido h1 {
  font-family: "Aboreto", system-ui;
  font-size: 50px;
  color: #007fa6;
  font-weight: bolder;
  text-shadow: 4px 4px 6px rgba(0, 214, 254, 0.5);
  margin-left: 1%;
  letter-spacing: 10px;
  text-align: left;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.7em;
  outline: none;
  animation: textoNeon 5s linear infinite;
}
.asideContainer .asideContenido h1 strong {
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #29292A);
}
.asideContainer .asideContenido h2 {
  font-family: "Sixtyfour", sans-serif;
  font-size: 20px;
  margin-top: 4%;
  margin-left: 0.5%;
  color: #007fa6;
  text-align: left;
  position: relative;
  /*&::before{
      content: "";
      right: -8px;
      top: 50%;
      position: absolute;
      height: 30px;
      width: 2px;
      background: map-get($mainColors, azulTxt);
      transform: translateY(-45%);
      animation: blink 0.7s infinite;
  }

  span.stop-blinking::before{
      animation: none;
  }*/
}

#tituloPie {
  font-family: "Aboreto", system-ui;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  position: relative;
  font-size: 100%;
  margin-left: 69%;
  margin-right: 15%;
  bottom: 200px;
  text-align: center;
  padding: 0 0;
}

@keyframes textoNeon {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #007fa6;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 214, 254, 0.5), 0 0 20px rgba(0, 214, 254, 0.5), 0 0 40px rgba(0, 214, 254, 0.5), 0 0 80px rgba(0, 214, 254, 0.5), 0 0 160px rgba(0, 214, 254, 0.5);
  }
}
.sectionContainer {
  position: relative;
  bottom: 50px;
}

.sectionContenido {
  width: 25%;
  left: 64%;
  bottom: 200px;
  box-shadow: 0 10px 48px -15px #67004c;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 25%;
  height: 37vh;
  background-color: rgba(36, 6, 65, 0.1803921569);
}

.autoRetrato {
  width: 200%;
  position: absolute;
  top: -3%;
}

@keyframes bordeMoving {
  0% {
    transform: rotate(0deg);
  }
}
#thm_badge {
  position: absolute;
  right: 45%;
}

.redes {
  content: "";
  height: 8vh;
  width: 4px;
  position: relative;
  left: 90%;
  bottom: 478px;
  background: #007fa6;
  border-radius: 2px;
}

.fa-brands {
  color: #fff;
  position: relative;
  top: 104%;
  margin-top: 0.5rem;
  margin-left: -0.55rem;
  font-size: 2.2vh;
  transition: 0.2s;
}
.fa-brands:hover {
  font-size: 2.6vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #24011a;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 10px inset #1B1B1B;
}

/*    MEDIA QUERIES    */
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-basis: 100%;
  }
}
.buttonContacto {
  font-family: "Aboreto", system-ui;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 214, 254, 0.5);
  padding: 4px 16px;
  border-radius: 2px;
  color: rgba(0, 214, 254, 0.5);
  font-size: 18px;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 4px;
  transition: 0.8s;
  position: relative;
  z-index: 1;
}
.buttonContacto:hover {
  color: #007fa6;
  font-size: 18.5px;
  text-shadow: 0 0 10px rgba(0, 214, 254, 0.5), 0 0 20px rgba(0, 214, 254, 0.5), 0 0 40px rgba(0, 214, 254, 0.5), 0 0 80px rgba(0, 214, 254, 0.5), 0 0 160px rgba(0, 214, 254, 0.5);
}/*# sourceMappingURL=main.css.map */