@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Limelight&family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
#logo {
  width: 15%;
  transition: 0.2s;
}
#logo:hover {
  width: 15.5%;
}

.navbar-nav {
  --bs-nav-link-color: #6c757d;
}
.navbar-nav .nav-link.active {
  color: #f8f9fa;
  text-decoration: line-through;
}
.navbar-nav .nav-link {
  transition: 0.2s;
}
.navbar-nav .nav-link:hover {
  font-size: 18px;
  color: #f8f9fa;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}

.navbar {
  background-color: transparent;
  font-weight: bolder;
  font-family: "Aboreto", system-ui;
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s;
}

header.sticky .navbar {
  background-color: #fff;
  width: 50%;
  padding: 0;
  top: 0;
  right: 25%;
  border-radius: 0 0 200px 200px;
  box-shadow: 0 0 5px 1px gray;
}
header.sticky #logo {
  display: none;
}
header.sticky .navbar-collapse {
  justify-content: center;
}
header.sticky .nav-link.active {
  color: #000000;
}
header.sticky .nav-link:hover {
  color: #000000;
}

.bodys {
  overflow-x: hidden;
}

#index {
  background-color: #29292a;
}

.spline {
  position: absolute;
  left: -1%;
  width: 101%;
  height: 100%;
  top: 0;
}

.secondSection {
  background: #0f0c29; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  height: 1270px;
  padding: 1%;
}

.containerSecondsection {
  position: relative;
  top: 10rem;
  margin-left: 3%;
}
.containerSecondsection h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: bolder;
  color: white;
}
.containerSecondsection h3 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  position: relative;
  text-align: center;
  margin-right: 3%;
  top: 95px;
}
.containerSecondsection p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 350;
  font-size: 25px;
  color: white;
  margin: 0 5% 0 5%;
  text-align: left;
}
.containerSecondsection #parrafo {
  content: "";
  height: 4px;
  width: 4%;
  position: relative;
  background: #007fa6;
  top: 20px;
}

.habilidadesContenedor {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  gap: 2%;
  flex-wrap: wrap;
}
.habilidadesContenedor .habilidades {
  background-color: rgba(66, 56, 129, 0.4);
  width: 250px;
  height: 200px;
  margin-top: 2%;
  border-radius: 16px;
}
.habilidadesContenedor .habilidades p {
  color: white;
  font-weight: 600;
  position: relative;
  text-align: center;
  bottom: 30px;
}
.habilidadesContenedor .fa-brands {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 45px 0;
  margin: 0;
  position: unset;
  font-size: 70px;
}
.habilidadesContenedor .fa-brands:hover {
  font-size: 70px;
}
.habilidadesContenedor .skillLogos {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 35%;
  padding: 45px 0;
  left: 80px;
  position: relative;
  margin: 0;
}

.custom-shape-divider-top-1707935947 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1707935947 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 178px;
}

.custom-shape-divider-top-1707935947 .shape-fill {
  fill: #000000;
}

.asideContainer {
  margin-top: 15%;
  margin-left: 1%;
  width: 48%;
}
.asideContainer .asideContenido {
  text-align: justify;
  width: 135%;
}
.asideContainer .asideContenido h1 {
  font-family: "Aboreto", system-ui;
  font-size: 50px;
  color: #007fa6;
  font-weight: bolder;
  text-shadow: 4px 4px 6px rgba(0, 214, 254, 0.5);
  margin-left: 1%;
  letter-spacing: 10px;
  text-align: left;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.7em;
  outline: none;
  animation: textoNeon 5s linear infinite;
}
.asideContainer .asideContenido h1 strong {
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #29292A);
}
.asideContainer .asideContenido h2 {
  font-family: "Sixtyfour", sans-serif;
  font-size: 20px;
  margin-top: 4%;
  margin-left: 0.5%;
  color: #007fa6;
  text-align: left;
  position: relative;
  /*&::before{
      content: "";
      right: -8px;
      top: 50%;
      position: absolute;
      height: 30px;
      width: 2px;
      background: map-get($mainColors, azulTxt);
      transform: translateY(-45%);
      animation: blink 0.7s infinite;
  }

  span.stop-blinking::before{
      animation: none;
  }*/
}

#tituloPie {
  font-family: "Aboreto", system-ui;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  position: relative;
  font-size: 100%;
  margin-left: 69%;
  margin-right: 15%;
  bottom: 200px;
  text-align: center;
  padding: 0 0;
}

@keyframes textoNeon {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #007fa6;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 214, 254, 0.5), 0 0 20px rgba(0, 214, 254, 0.5), 0 0 40px rgba(0, 214, 254, 0.5), 0 0 80px rgba(0, 214, 254, 0.5), 0 0 160px rgba(0, 214, 254, 0.5);
  }
}
.sectionContainer {
  position: relative;
  bottom: 50px;
}

.sectionContenido {
  width: 25%;
  left: 64%;
  bottom: 200px;
  box-shadow: 0 10px 48px -15px #67004c;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 25%;
  height: 37vh;
  background-color: rgba(36, 6, 65, 0.1803921569);
}

.autoRetrato {
  width: 200%;
  position: absolute;
  top: -3%;
}

@keyframes bordeMoving {
  0% {
    transform: rotate(0deg);
  }
}
#thm_badge {
  position: absolute;
  right: 45%;
}

.redes {
  content: "";
  height: 8vh;
  width: 4px;
  position: relative;
  left: 90%;
  bottom: 478px;
  background: #007fa6;
  border-radius: 2px;
}

.fa-brands {
  color: #fff;
  position: relative;
  top: 104%;
  margin-top: 0.5rem;
  margin-left: -0.55rem;
  font-size: 2.2vh;
  transition: 0.2s;
}
.fa-brands:hover {
  font-size: 2.6vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #24011a;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 10px inset #1B1B1B;
}

.thirdSection {
  /*background: #23074d;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: #16222A;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #2b5876; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  padding: 1%;
  height: 2782px;
}

.thirdSection #linknavCertificados {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  position: relative;
  top: 10rem;
  margin-left: 3%;
}
.thirdSection .accordion {
  margin-top: 13%;
  margin-left: 3%;
  margin-right: 3%;
}
.thirdSection .accordion-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
}
.thirdSection .accordion-item {
  background-color: #dbd6d6;
  border: 0;
}
.thirdSection .accordion-button {
  background-color: #101214;
  margin-top: 2px;
  /*color: #37ff14bb;*/
  color: #007fa6;
  font-family: "Aboreto", system-ui;
  font-weight: 600;
  letter-spacing: 3px;
  transition: 0.5s;
}
.thirdSection .accordion-button:hover {
  background-color: #171a1d;
  letter-spacing: 4px;
}
.thirdSection .accordion-header {
  text-align: center;
}
.thirdSection .accordion-img {
  width: 400px;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: 0.2s;
}
.thirdSection .accordion-img:hover {
  box-shadow: 0 0 6px 0 rgba(0, 214, 254, 0.5);
}
.thirdSection .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.thirdSection .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.thirdSection .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-shape-divider-top-1708564563 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1708564563 svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 152px;
}

.custom-shape-divider-top-1708564563 .shape-fill {
  fill: #302B63;
}

#linknavIdiomas {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  position: relative;
  top: 16rem;
  margin-left: 50%;
}

.fourSection {
  background-color: rgba(0, 0, 0, 0.7);
  /* border-radius: 0 0 20px 20px; */
  /* border-radius: 20px; */
  border-radius: 40px 0 0 40px;
  box-shadow: 0 0 22px -13px #ffffff;
  width: 54%;
  /* height: 855px; */
  position: relative;
  right: -47%;
  top: 10%;
}

.grafico-lenguaje {
  width: 100%;
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  position: relative;
  top: 12%;
}
.grafico-lenguaje h5 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #ababab;
}
.grafico-lenguaje h6 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #ababab;
  position: relative;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -5px;
  left: 90px;
  bottom: 70px;
}
.grafico-lenguaje .grafico-container {
  position: relative;
  top: 27px;
}
.grafico-lenguaje #avanzado-ingles {
  left: 70px;
  bottom: 60px;
}
.grafico-lenguaje #grafico-ingles {
  width: 100px;
  height: 250px;
  background: rgb(254, 35, 35);
  background: linear-gradient(0deg, rgb(254, 35, 35) 0%, rgb(255, 208, 65) 95%, rgb(0, 255, 149) 100%);
  position: relative;
  top: 47px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 6px 1px gray;
}
.grafico-lenguaje #grafico-espanol {
  width: 100px;
  height: 300px;
  background: rgb(254, 35, 35);
  background: linear-gradient(0deg, rgb(254, 35, 35) 0%, rgb(255, 208, 65) 80%, rgb(0, 255, 149) 100%);
  position: relative;
  left: 20px;
  top: 10px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 6px 1px gray;
}

#linknavExtraSkills {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  position: relative;
  top: 22rem;
}

.fourSection1-2 {
  background-color: rgba(0, 0, 0, 0.7);
  /* border-radius: 0 0 20px 20px; */
  /* border-radius: 20px; */
  border-radius: 0 40px 40px 0;
  box-shadow: 0 0 22px -13px #ffffff;
  width: 35%;
  /* height: 855px; */
  position: relative;
  left: -1%;
  top: 13%;
}
.fourSection1-2 .grafico-container1-2 {
  position: relative;
  margin: 1% 8%;
}
.fourSection1-2 .extra-skills-img {
  background-color: rgba(59, 59, 58, 0.6);
  border-radius: 16px;
  width: 100px;
  height: 100px;
  margin-top: 2%;
}

#contactameTitle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  position: relative;
  text-align: center;
  top: 450px;
}

.finalSection {
  background-color: rgba(252, 205, 111, 0.1);
  /* border-radius: 0 0 20px 20px; */
  /* border-radius: 20px; */
  box-shadow: 0 0 1px 1px #fccd6f;
  width: 102%;
  height: 200px;
  position: relative;
  left: -1%;
  top: 17%;
}
.finalSection .contacto-contenedor {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  padding: 30px 0;
}
.finalSection .contacto-contenedor .contacto-contenido {
  width: 300px;
  background-color: rgba(17, 21, 41, 0.7);
  border-radius: 4px;
  display: flex;
  text-align: center;
  gap: 15px;
  justify-content: center;
  margin-top: 2%;
}
.finalSection .contacto-contenedor .contacto-contenido p {
  font-family: "Source Sans 3", sans-serif;
  color: #fccd6f;
  padding: 4px 0;
  margin-top: 12px;
}
.finalSection .contacto-contenedor .contacto-contenido .iconos-contacto {
  color: white;
  padding: 4px 0;
  margin-top: 15px;
  font-size: 20px;
}

.redes2 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  bottom: 22px;
  z-index: 1;
}

.thanksDiv {
  background-color: rgba(17, 21, 41, 0.7);
  position: relative;
  width: 102%;
  left: -1%;
  top: 467px;
}
.thanksDiv h3 {
  padding: 100px;
  font-family: "Source Sans 3", sans-serif;
  color: #fccd6f;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
}

/*    MEDIA QUERIES    */
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .asideContainer {
    margin-top: 22%;
  }
  .asideContainer .asideContenido h1 {
    font-size: 35px;
  }
  .asideContainer .asideContenido h1 strong {
    font-size: 25px;
  }
  .asideContainer .asideContenido h2 {
    font-size: 17px;
    margin-top: 5%;
  }
  .buttonContacto {
    font-size: 15px !important;
  }
  .sectionContainer {
    bottom: 0;
  }
  .sectionContenido {
    width: 35%;
    height: 350px;
    left: 58%;
  }
  .redes {
    left: 96%;
  }
  .secondSection {
    height: 1433px;
  }
  .thirdSection {
    height: 2617px;
  }
  .thirdSection .accordion {
    margin-top: 18%;
  }
  #linknavIdiomas {
    top: 8rem;
  }
  .fourSection {
    top: 5%;
  }
  #linknavExtraSkills {
    top: 18rem;
  }
  .fourSection1-2 {
    border-radius: unset;
    width: 102%;
    top: 11%;
  }
  .finalSection .contacto-contenedor {
    gap: 3%;
  }
  .thanksDiv {
    top: 442px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  header .sticky .navbar {
    background-color: transparent !important;
    width: 0;
    padding: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    box-shadow: 0;
  }
  header .sticky #logo {
    display: unset;
  }
  header .sticky .navbar-collapse {
    justify-content: unset;
  }
  header .sticky .nav-link.active {
    color: unset;
  }
  header .sticky .nav-link:hover {
    color: unset;
  }
  .navbar-toggler {
    position: absolute;
    right: 2%;
    top: 15%;
  }
  .navbar-expand-lg .navbar-collapse {
    position: absolute;
    right: 2%;
    top: 65%;
  }
  .asideContainer {
    margin-top: 10vh;
    width: 100%;
  }
  .asideContainer .asideContenido {
    width: unset;
  }
  .asideContainer .asideContenido h1 {
    font-size: 35px;
    letter-spacing: 6px;
    text-align: center;
  }
  .asideContainer .asideContenido h1 strong {
    font-size: 30px;
  }
  .asideContainer .asideContenido h2 {
    font-size: 14px;
    margin-top: 4vh;
    text-align: center;
  }
  .buttonContacto {
    font-size: 10px !important;
    margin-top: 2vh !important;
    width: 40%;
    left: 29.5%;
  }
  .buttonContacto:hover {
    font-size: 11px;
  }
  .sectionContainer {
    bottom: -285px;
  }
  .sectionContenido {
    width: 50%;
    left: unset;
    margin: 0 25%;
    height: 28vh;
  }
  #tituloPie {
    margin: 0.5% 0 150px 0;
  }
  .redes {
    left: 79%;
    bottom: 317px;
  }
  .habilidadesContenedor .habilidades {
    width: 140px;
    height: 140px;
  }
  .habilidadesContenedor .habilidades p {
    bottom: 39px;
  }
  .habilidadesContenedor .skillLogos {
    left: 45px;
  }
  .thirdSection .accordion {
    margin-top: 210px;
    margin-right: 1.5%;
    margin-left: 0;
  }
  .thirdSection .accordion-img {
    width: 286px;
  }
  #linknavIdiomas {
    top: 7rem;
    text-align: center;
    margin-left: 0;
  }
  .fourSection {
    border-radius: 40px;
    width: 75%;
    margin-left: 13%;
    top: 4%;
    right: 0;
  }
  .grafico-lenguaje #grafico-ingles {
    top: 56px;
  }
  #linknavExtraSkills {
    text-align: center;
    top: 16rem;
  }
  .fourSection1-2 {
    border-radius: 40px;
    width: 75%;
    top: 10%;
    left: 14%;
  }
  .fourSection1-2 .extra-skills-img {
    width: 90px;
    height: 90px;
  }
  #contactameTitle {
    text-align: center;
    top: 400px;
  }
  .finalSection {
    top: 14%;
  }
  .finalSection .contacto-contenedor {
    padding: 30px 0;
  }
  .finalSection .contacto-contenedor .contacto-contenido {
    width: 215px;
    height: 50px;
  }
  .redes2 {
    bottom: 13px;
  }
  .thanksDiv {
    top: 390px;
  }
}
.buttonContacto {
  font-family: "Aboreto", system-ui;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 214, 254, 0.5);
  padding: 4px 16px;
  border-radius: 2px;
  color: rgba(0, 214, 254, 0.5);
  font-size: 18px;
  margin-top: 2%;
  margin-left: 1%;
  border-radius: 4px;
  transition: 0.8s;
  position: relative;
  z-index: 1;
}
.buttonContacto:hover {
  color: #007fa6;
  font-size: 18.5px;
  text-shadow: 0 0 10px rgba(0, 214, 254, 0.5), 0 0 20px rgba(0, 214, 254, 0.5), 0 0 40px rgba(0, 214, 254, 0.5), 0 0 80px rgba(0, 214, 254, 0.5), 0 0 160px rgba(0, 214, 254, 0.5);
}/*# sourceMappingURL=main.css.map */