#logo{
    width: 15%;
    transition: 0.2s;
    &:hover{
        width: 15.5%;
    }
}

.navbar-nav{
    --bs-nav-link-color: #6c757d;
    .nav-link.active{
        color: #f8f9fa;
        text-decoration:line-through;
    }
    .nav-link{
        transition: 0.2s;
        &:hover{
            font-size: 18px;
            color: #f8f9fa;
        }
    }
}

.navbar-expand-lg .navbar-collapse {
    justify-content: right;
}

.navbar{
    background-color: #000000;
    box-shadow: 0 14px 30px 5px #000000;
    font-weight: bolder;
    font-family: 'Aboreto', system-ui;
    position: relative;
    z-index: 1;
}