//BACKGROUNDS
.bodys{
    overflow-x: hidden;
}

#index{
    background-color: #29292a;
    padding: 1% 1% 35% 1%;
}

//MAIN
.asideContainer{
    margin-top: 10%;
    margin-left: 1%;
    width: 48%;
    .asideContenido{
        text-align: justify;
        width: 135%;
        h1{
            font-family: 'Aboreto', system-ui;
            font-size: 50px;
            color: map-get($mainColors, azulTxt);
            font-weight: bolder;
            text-shadow: 4px 4px 6px map-get($mainColors, azulAlt);
            margin-left: 1%;
            letter-spacing: 10px;
            text-align: left;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
            line-height: 0.70em;
            outline: none;
            animation: textoNeon 5s linear infinite;
            strong{
                font-size: 40px;
                color: white;
                text-shadow: 0px 0px 0px map-get($mainColors, transparente);
                -webkit-box-reflect: below 1px linear-gradient(transparent, #29292A);
            }
        }
        h2{
            font-family: 'Sixtyfour', sans-serif;
            font-size: 20px;
            margin-top: 4%;
            margin-left: 0.5%;
            color: map-get($mainColors, azulTxt);
            text-align: left;
            /*position: relative;
            &::before{
                content: "";
                right: -8px;
                top: 50%;
                position: absolute;
                height: 30px;
                width: 2px;
                background: map-get($mainColors, azulTxt);
                transform: translateY(-45%);
                animation: blink 0.7s infinite;
            }

            span.stop-blinking::before{
                animation: none;
            }*/
        }
    }
}

#tituloPie{
    font-family: "Aboreto", system-ui;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    position: relative;
    font-size: 100%;
    margin-left: 69%;
    margin-right: 15%;
    bottom: 200px;
    text-align: center;
    padding: 0 0;
}

@keyframes textoNeon {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: map-get($mainColors, azulTxt);
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px map-get($mainColors, azulAlt),
        0 0 20px map-get($mainColors, azulAlt),
        0 0 40px map-get($mainColors, azulAlt),
        0 0 80px map-get($mainColors, azulAlt),
        0 0 160px map-get($mainColors, azulAlt),
    }
}

//MULTIMEDIA
.sectionContainer{
    position: relative;
    bottom: 50px;
}

.sectionContenido{
    width: 25%;
    left: 64%;
    bottom: 200px;
    box-shadow: 0 10px 20px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25%;
    height: 37vh;
    background-color: #1B1B1B;
}

.autoRetrato{
    width: 200%;
    position: absolute;
    top: -3%;
}

@keyframes bordeMoving {
    0%
    {
        transform: rotate(0deg);
    }
}

#thm_badge{
    position: absolute;
    right: 45%;
}

.redes{
    content: "";
    height: 8vh;
    width: 4px;
    position: relative;
    left: 90%;
    bottom: 478px;
    background: map-get($mainColors, azulTxt);
    border-radius: 2px;
}
.fa-brands{
    color: #fff;
    position: relative;
    top: 104%;
    margin-top: 0.5rem;
    margin-left: -0.55rem;
    font-size: 2.2vh;
    transition: 0.2s;
    &:hover{
        font-size: 2.6vh;
    }
}
